
/* header */
.header-goods {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.commons {
    height: 80px;
    background-color: rgb(215, 25, 33);
}
.logo {
    width: 200px;
    border: 1px solid gray;
    border-radius: 20px;
}
.model {
    line-height: 80px;
    text-align: center;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

/* footer */
.footer {
    width: 100%;
    background-color: rgb(215, 25, 33);
    position: relative;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 15px;
}