<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省市联动</title>
</head>
<body>
    <div>
        <select name="province" id="province">
            <option value="0">请选择</option>
        </select>
        省/直辖市&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="city" id="city">
            <option value="0">请选择</option>
        </select>
        市/地区&nbsp;&nbsp;&nbsp;&nbsp;
        <select name="town" id="town">
            <option value="0">请选择</option>
        </select>
        区/县&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/address.js" ></script>
</body>
</html>